<div class="handler-item">
  <mat-icon class="handler-icon">label</mat-icon>
  <span class="handler-route" [title]="handler().route">{{ handler().route }}</span>

  <div class="pill-badge time-badge" [title]="'Tempo máximo: ' + handler().timeoutInSeconds + 's'">
    <mat-icon class="time-icon">schedule</mat-icon>
    <span class="badge-value time-count">{{ handler().timeoutInSeconds }}</span>
  </div>

  <button mat-icon-button class="remove-btn" (click)="onRemoveClick($event)" title="Remover ação">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>