<div class="project-row">
    <div class="col-type">
        <span class="type-text">
            {{ typeMetadata().label }}
        </span>
    </div>
    <div class="col-name">
        <span class="project-name">{{ project().name }}</span>
        <span class="project-manifest">{{ project().packageManifest }}</span>
    </div>
    <div class="col-version">
        @if (loading()) {
            <mat-icon class="version-spinner">sync</mat-icon>
        } @else if (packageVersion()) {
            @if (packageVersion()?.errorReason) {
                <span class="version-badge version-error" [matTooltip]="packageVersion()!.errorReason!">
                    Erro
                </span>
            } @else if (!packageVersion()?.isCompatible) {
                <span class="version-badge version-warning" matTooltip="Instale a versão mais recente">
                    {{ packageVersion()!.version }}
                </span>
            } @else {
                <span class="version-badge version-compatible">
                    {{ packageVersion()!.version }}
                </span>
            }
        } @else {
            <span class="version-text">-</span>
        }
    </div>
    <div class="col-actions">
        <button mat-icon-button class="action-btn remove-button" [disabled]="loading()" (click)="onRemoveClick($event)" matTooltip="Remover projeto">
            <mat-icon class="icon-16">close</mat-icon>
        </button>
    </div>
</div>
