<div class="action-item">
    <span class="action-route" [matTooltip]="action().route">{{ action().route }}</span>

    @if (hasTopicMatch()) {
        <div class="pill-badge topic-badge" matTooltip="Publica o resultado no tópico de mesmo nome">
            <mat-icon class="topic-icon">campaign</mat-icon>
        </div>
    }

    <div class="pill-badge time-badge" [matTooltip]="'Tempo limite: ' + action().timeoutInSeconds + 's'">
        <span class="badge-value time-count">{{ action().timeoutInSeconds }}</span>
        <mat-icon class="time-icon">schedule</mat-icon>
    </div>

    <button mat-icon-button class="remove-button" (click)="onRemoveClick($event)" matTooltip="Remover ação">
        <mat-icon class="close-icon icon-16">close</mat-icon>
    </button>
</div>