<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content class="modal-content">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ label }}</mat-label>
        <input
            matInput
            [ngModel]="value()"
            (ngModelChange)="value.set($event)"
            (keyup.enter)="onConfirm()"
            cdkFocusInitial
        />
        @if (icon) {
            <mat-icon matSuffix>{{ icon }}</mat-icon>
        }
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onConfirm()" [disabled]="!isValid">
        {{ confirmButtonText }}
    </button>
</mat-dialog-actions>
